body {
    background: linear-gradient(72deg, rgb(115, 116, 115), rgb(112, 112, 111));
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#header-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
   

#slider {
    padding: 20px;
    margin-top: 75px;
    width: 100vw;
    max-width: 750px;
    height: 100vh;
    max-height: 400px;
    position: relative;
  
    
}

#slider img{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
    border-radius: 20px;
    
}

#slider img.selected {
    opacity: 1;

}

