body {
    background: linear-gradient(72deg, green, yellow);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    padding: 20px;
    margin-top: 75px;
    width: 100%;
    max-width: 750px;
    height: 100vw;
    max-height: 400px;
    position: relative;
    
}

#slider img{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;

}

#slider img.selected {
    opacity: 1;

}